# Ignorar arquivos soltos que não quero
.vscode/
Estudos futuros/
base_dash_copy.py
canto_pensamento.ipynb
loc_conv_discador_SECAD.ipynb
pausas_secad.ipynb
dummy.ipynb
confi_banco.py
queries.py
db_config.py
sql/
*.sql
__init__.py
analise_vendas.ipynb
# Padrões Python/Jupyter sempre ignorar
__pycache__/
*.pyc
.ipynb_checkpoints/